@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat:400,600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 240, 247);
  font-family: "Montserrat", sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 80px auto;
  padding-top: 100px;
  min-height: 100vh;
  position: relative;
}
